<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>RupiApp - Important</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
        <div style="margin:50px auto;width:70%;padding:20px 0">
            <div style="border-bottom:1px solid #eee">
                <a href="" style="font-size:1.4em;color: #000000;text-decoration:none;font-weight:600">
                    <img src="cid:logo" alt="Logo" style="height:40px;vertical-align:middle;">
                    RupiApp
                </a>
            </div>
            <p style="font-size:1.1em">Hai, <strong an th:text="${name}">Name</strong></p>
            <p th:text="${message}">Message</p>
            <div style="font-size:1.1em;" th:if="${details} != null">
                <strong style="margin-bottom: 5px;">Detail:</strong>
                <table style="width:100%; border-spacing:0;">
                    <tbody th:each="detail : ${details}">
                        <tr>
                            <td style="text-align:left; border-bottom: 0.5px solid #ccc;" th:text="${detail.key}"></td>
                            <td style="text-align:right; border-bottom: 0.5px solid #ccc;"><strong
                                    th:text="${detail.value}"></strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br></br>
            <p style="font-size:0.9em;">Regards,<br />RupiApp Team</p>
            <hr style="border:none;border-top:1px solid #eee" />
        </div>
    </div>
</body>

</html>